
    body  
    {  
        margin: 0;  
        padding: 0;  
        background-color:#6abadeba;  
        font-family: 'Arial';  
    }  
    
    h2{  
        margin: 250px;  
        padding: 50px; 
        text-align: center;  
        color: #070707;  
        padding: 20px;  
    }  
    